.modal {
    .modal-custom-schedule {
        .modal-content {
            .modal-header {
                button {
                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(233, 130, 130);
                }
            }
        }
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-custom-schedule-body {
            .input-container {
                .gender-field {
                    .gender-select {
                        margin-top: 2px;
                        border: 1px solid grey;
                    }
                }
                input {
                    border-radius: 3px;
                    outline: none;
                    border: 1px solid grey;
                    height: 30px;
                    padding: 0 8px;
                }
                .text-primary-customize {
                    color: #337ab7;
                }
            }
        }
    }
}
