.preview-image {
    height: 80px;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.user-redux-modal {
    max-width: 90% !important;
    .modal-content {
        height: 80vh;
        .modal-header {
            display: flex !important;
            justify-content: space-between;
            button {
                width: 30px !important;
                span {
                    font-size: 20px !important;
                }
            }
        }
    }
}

/* Ghi đè z-index cho overlay của modal */
// Fix lỗi ảnh bị hiển thị sau Modal
.ReactModal__Overlay {
    z-index: 2000 !important; /* Chỉnh z-index của overlay */
}
